/*------------- 
[Table of contents]

[ DEFULT INDEX NUMBER ]

1.  GENERAL CSS
2.  NAVBAR
4.  HOME
5.  SERVICE
6.  ABOUT
7.  TESTIMONIAL
8.  FAQ
9.  QUATE
10. SUBSCRIBE
11. PRICING
12. BLOG
13. FOOTER
14. COPYRIGHT


-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[ Color codes ]

    [ Text and Background Color ]
        Main color 1:       #1c93e5     
        Main color 2:       #009688      
        Main color 3:       #9c27b0
        Main color 4:       #ff4081      
        Background 1:       #FFFFFF            
        Background 2:       #F6F6F6           
        Shadow color:       #000000;            

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Typography]

    [ There are using two different font typography ]
        Typography 1: Roboto font;
        Typography 2: Montserrat font;

    [ Other Typography style are same ]
    Body :
        font-style:     normal;
        font-size:      15px;

    h2:
        font-size: 48px;
        line-height: 55px;

    h3:
        font-size: 30px;
        line-height: 40px;

    h4:
        font-size: 20px;
        font-weight: 600;

    p:  
        font-size: 18px;
        line-height: 30px;


-------------------------------------------------------------------*/
/*
================
 VARIABLES
================
*/
@import "new-box.css";
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shadow-1 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* poppins-200 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/poppins-v15-latin-200.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v15-latin-200.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v15-latin-200.woff2") format("woff2"), url("../fonts/poppins-v15-latin-200.woff") format("woff"), url("../fonts/poppins-v15-latin-200.ttf") format("truetype"), url("../fonts/poppins-v15-latin-200.svg#Poppins") format("svg");
  /* Legacy iOS */
}
/* poppins-300 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v15-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v15-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v15-latin-300.woff2") format("woff2"), url("../fonts/poppins-v15-latin-300.woff") format("woff"), url("../fonts/poppins-v15-latin-300.ttf") format("truetype"), url("../fonts/poppins-v15-latin-300.svg#Poppins") format("svg");
  /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v15-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v15-latin-regular.woff") format("woff"), url("../fonts/poppins-v15-latin-regular.ttf") format("truetype"), url("../fonts/poppins-v15-latin-regular.svg#Poppins") format("svg");
  /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v15-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v15-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v15-latin-500.woff2") format("woff2"), url("../fonts/poppins-v15-latin-500.woff") format("woff"), url("../fonts/poppins-v15-latin-500.ttf") format("truetype"), url("../fonts/poppins-v15-latin-500.svg#Poppins") format("svg");
  /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v15-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v15-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v15-latin-600.woff2") format("woff2"), url("../fonts/poppins-v15-latin-600.woff") format("woff"), url("../fonts/poppins-v15-latin-600.ttf") format("truetype"), url("../fonts/poppins-v15-latin-600.svg#Poppins") format("svg");
  /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v15-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v15-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v15-latin-700.woff2") format("woff2"), url("../fonts/poppins-v15-latin-700.woff") format("woff"), url("../fonts/poppins-v15-latin-700.ttf") format("truetype"), url("../fonts/poppins-v15-latin-700.svg#Poppins") format("svg");
  /* Legacy iOS */
}
/* poppins-800 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins-v15-latin-800.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v15-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v15-latin-800.woff2") format("woff2"), url("../fonts/poppins-v15-latin-800.woff") format("woff"), url("../fonts/poppins-v15-latin-800.ttf") format("truetype"), url("../fonts/poppins-v15-latin-800.svg#Poppins") format("svg");
  /* Legacy iOS */
}
/* poppins-900 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v15-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v15-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v15-latin-900.woff2") format("woff2"), url("../fonts/poppins-v15-latin-900.woff") format("woff"), url("../fonts/poppins-v15-latin-900.ttf") format("truetype"), url("../fonts/poppins-v15-latin-900.svg#Poppins") format("svg");
  /* Legacy iOS */
}
/** 
 * -----------------
 * General CSS
 * -----------------
 */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Poppins";
  font-size: 14px;
  font-style: none;
  line-height: 24px;
  font-weight: 500;
  overflow-x: hidden !important;
  text-align: left;
  position: relative;
  color: #000000;
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
}

p {
  opacity: 0.9;
}

z .nav li a {
  text-decoration: none !important;
  display: inline-block;
  cursor: pointer;
  padding: 0px;
  background-color: transparent;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
z .nav li a:hover {
  background-color: transparent;
}
z .nav li a:focus {
  background-color: transparent;
  outline: 0 !important;
}

a {
  text-decoration: none !important;
  cursor: pointer;
  padding: 0px;
  background-color: transparent;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #000000;
  opacity: 0.9;
}
a:hover {
  background-color: transparent;
}
a:focus {
  background-color: transparent;
  outline: 0 !important;
}

.center {
  float: none;
  margin: 0 auto;
  text-align: center;
}

.overflow {
  overflow: hidden;
}

.relative {
  position: relative;
}

.display-table {
  display: table;
  width: 100%;
  height: 100%;
}

.display-flex {
  display: flex;
  flex: 1;
}

.vertical-middle {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

/**
 * --------------------------------------
 *  Video Section Background Defult Style
 * --------------------------------------
 */
.section-video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  z-index: -1;
}
.section-video .bgvid {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.body-video-bg > .section-video {
  position: fixed;
  top: 0;
  left: 0;
}

.section-title {
  text-align: center;
}
.section-title h3 {
  font-size: 30px;
  line-height: 40px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 60px;
}

/**
 * ------------------------------------
 *  Every Section Headline Defult Class
 * ------------------------------------
 */
.section-heading {
  display: block;
  margin: 0;
}

.section-header {
  margin-bottom: 100px;
  text-align: center;
}
.section-header .sub-heading {
  font-size: 22px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}
.section-header.text-left,
.section-header.text-left * {
  text-align: left;
}
.section-header.text-right,
.section-header.text-right * {
  text-align: right;
}

.section-header-separator {
  position: relative;
  width: 145px;
  margin: 5px auto;
  display: inline-block;
}
.section-header-separator .icon {
  font-size: 48px;
  text-align: center !important;
}
.section-header-separator::before, .section-header-separator::after {
  content: "";
  position: absolute;
  width: 57px;
  height: 2px;
  top: 25px;
}
.section-header-separator::before {
  left: 0;
}
.section-header-separator::after {
  right: 0;
}

.v-middle {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.mini-separator {
  padding: 20px 0;
}

.vertical-middle {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

/**
 * ------------------
 * list
 * ------------------
 */
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}

/**
 * =================
 * CONTAINER HALF CONTENT
 * =================
 */
.content-half {
  position: relative;
}

.container-half-left {
  left: 0;
  background-position: center right;
}

.container-half-right {
  right: 0;
  background-position: center left;
}

.vertical-middle-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
}

/**
 * ---------------------------------
 *  Section Background Size Property
 * ---------------------------------
 */
.bg-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: initial;
  background-repeat: no-repeat;
}

.dark-bg {
  background-color: #202026;
}

.image-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mini-section-separator {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-separator {
  padding-top: 60px;
  padding-bottom: 60px;
}

.home-section-separator {
  padding-top: 100px;
  padding-bottom: 200px;
}

.bg-black {
  background-color: #000000;
}

.main-color {
  color: #37C2CC;
}

.p-200 {
  padding: 0 200px;
}

.img-overlay {
  background-image: url(../images/footer-bg.png);
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center center;
}

.image-bg {
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center center;
}

.home-2-img {
  background-image: url(../images/home-bg-img.jpg);
}

.featured-img-one {
  background-image: url(../images/home-bg-img.jpg);
}

.featured-img-two {
  background-image: url(../images/extra-feature-bg.jpg);
}

.map-image {
  background-image: url(../images/map-color-overlay.png);
}

.mt-30 {
  margin-top: 30px;
}

button {
  outline: 0;
}
button:hover {
  outline: 0;
}
button:focus {
  outline: 0;
}

.btn {
  outline: 0;
}
.btn:hover {
  outline: 0;
}
.btn:focus {
  outline: 0;
}

.round-image {
  border-radius: 50%;
}

.header-bg {
  background-color: #FFEFE9;
}

.purple-bg {
  background-color: #643BDF;
}

.blue-bg {
  background-color: #007C88;
}

.yellow-color {
  color: #FFD032;
}

.main-color {
  color: #37C2CC;
}

.purple-color {
  color: #643BDF;
}

.blue-color {
  color: #007C88;
}

.bg-3 {
  color: #FAF9F7;
}

.bg-4 {
  color: #FAF9F7;
}

.white-bg {
  background-color: #ffffff;
}

p {
  color: #071634;
}

.contact-shadow {
  -webkit-box-shadow: 2px 28px 54px 0px rgba(85, 85, 93, 0.03);
  box-shadow: 2px 28px 54px 0px rgba(85, 85, 93, 0.03);
}

.body-2 .btn {
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}
.body-2 .btn.btn-stroke {
  color: #ffffff;
}

.color-1 {
  color: #37C2CC;
}

.color-2 {
  color: #F35D22;
}

.color-3 {
  color: #FEC468;
}

.color-4 {
  color: #1785C3;
}

.color-5 {
  color: #53CB94;
}

.color-6 {
  color: #761DE2;
}

.overlay-img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

section {
  overflow: hidden;
}

/*
    ==============
       Navigation
    ============== 
*/
.mh-nav {
  width: 100%;
  padding: 10px 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mh-header {
  padding: 0;
  background: #ffffff;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.mh-header.nav-strict {
  padding: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 9999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #ffffff;
}
.mh-header.nav-strict .mh-nav {
  padding: 0px 0px;
}
.mh-header.nav-strict .navbar-nav li a {
  color: #111111;
}
.mh-header .navbar-nav li {
  margin: 16px 8px;
}
.mh-header .navbar-nav li a {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 0.63;
  color: #000000;
  padding: 0px 10px;
}

.dropdown-toggle::after {
  position: relative;
  top: 1px;
  left: 5px;
}

/*
    ==============
       home
    ==============
*/
.resume-home {
  padding: 140px 0px;
}
.resume-home .resume-home-inner .span {
  width: 55px;
  height: 5px;
  background-color: #ffb74f;
  display: block;
}
.resume-home .resume-home-inner h2 {
  font-size: 56px;
  letter-spacing: -1.5px;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 30px;
  font-weight: 700;
}
.resume-home .resume-home-inner h4 {
  font-size: 20px;
  letter-spacing: -0.75px;
  color: #000000;
  font-weight: 400;
}
.resume-home .resume-home-inner h4 span {
  color: #ff4952;
  font-weight: 600;
}
.resume-home .resume-social {
  margin-top: 40px;
}
.resume-home .resume-social h6 {
  font-size: 18px;
  color: #000000;
  margin-bottom: 25px;
  font-weight: 400;
}
.resume-home .resume-social ul li {
  display: inline-grid;
  place-items: center;
  width: 45px;
  height: 45px;
  border-radius: 3px;
  border: solid 1px #cecece;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 20px;
  margin-right: 5px;
  font-family: "Poppins";
  color: #000000;
}
.resume-home .resume-social ul li:hover {
  box-shadow: 0 16px 14px 0 rgba(0, 0, 0, 0.1);
  background-color: #ff4952;
  border: solid 1px transparent;
  color: #ffffff;
}
.resume-home .resume-main {
  padding: 130px 0px;
  padding-bottom: 0px;
}
.resume-home .resume-main .main-inner .img-cover img {
  margin-left: 75px;
}
.resume-home .resume-main .main-inner .bg-img {
  position: absolute;
  top: 110px;
  z-index: -1;
}
.resume-home .resume-main .main-inner .circle-bg {
  position: absolute;
  z-index: -2;
  top: -15%;
  left: -20%;
}
.resume-home .resume-main .resume-details {
  padding: 160px 0px;
}
.resume-home .resume-main .resume-details p {
  opacity: 0.6;
  font-size: 16px;
  line-height: 1.88;
  color: #000000;
  margin-bottom: 50px;
}
.resume-home .shape-image {
  position: absolute;
  top: 9%;
  left: -22%;
}

.btn-main {
  margin-top: 30px;
}
.btn-main .btn-all {
  font-size: 16px;
  font-weight: bold;
  color: #0a1f48 !important;
  margin-bottom: 0px;
  cursor: pointer;
}
.btn-main .btn-all i {
  font-size: 14px;
  margin-left: 10px;
  transition: all 0.4s;
}
.btn-main .btn-all:hover i {
  margin-left: 15px;
}

.btn-project {
  margin-left: auto;
  margin-bottom: 50px;
  margin-left: 95px;
}
.btn-project.portfolio_btn {
  margin-left: auto !important;
}

/*
    ==============
       What we do
    ==============
*/
.resume-do .resume-do-inner {
  padding-bottom: 50px;
}
.resume-do .resume-do-inner p {
  opacity: 0.6;
  font-size: 16px;
  line-height: 1.88;
  color: #000000;
  margin-bottom: 55px;
  max-width: 85%;
}
.resume-do .bg-title h1 {
  font-size: 130px;
  line-height: 0.87;
  letter-spacing: -6.47px;
  color: #e0e0e0;
}

.resume-do-inner .do-inner .do_icon {
  width: 72px;
  height: 72px;
  display: grid;
  place-items: center;
  box-shadow: 11px 38px 73px 0 rgba(51, 51, 51, 0.3);
  border-radius: 50%;
  margin-left: 25px;
  margin-bottom: 70px;
  background: #ffffff;
}
.resume-do-inner .do-inner .do_icon .do-icon-s {
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 15px;
}
.resume-do-inner .do-inner .do_icon .do-icon-s-2 {
  position: absolute;
  z-index: -1;
  top: 15px;
  left: 10px;
}
.resume-do-inner .do-inner .do_icon .do-icon-s-3 {
  position: absolute;
  z-index: -1;
  top: 15px;
  left: 10px;
}
.resume-do-inner .do-inner h3 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -0.63px;
  color: #0a1f48;
  margin-bottom: 15px;
}
.resume-do-inner .do-inner p {
  opacity: 0.6;
  font-size: 16px;
  line-height: 1.88;
  color: #071634;
}

/*
    ==============
       Portfolio area
    ==============
*/
/*
    =================
       Portfolio area (USE)
    =================
*/
.res-portfolio {
  padding-top: 100px;
  padding-bottom: 250px;
}
.res-portfolio .resume-item {
  padding: 60px 25px 0px 45px;
  background-image: linear-gradient(311deg, #766ced, #413ad6);
  margin-bottom: 50px;
}
.res-portfolio .resume-item h5 {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -0.63px;
  color: #ffffff;
}
.res-portfolio .resume-item p {
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  max-width: 50%;
}
.res-portfolio .resume-item img {
  margin-left: 75px;
}
.res-portfolio .resume-item-1 {
  padding: 50px 45px;
  background-image: linear-gradient(to bottom, #65b1ff, #2c65e7);
  margin-bottom: 50px;
}
.res-portfolio .resume-item-1 h5 {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -0.63px;
  color: #ffffff;
}
.res-portfolio .resume-item-1 p {
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  max-width: 70%;
}
.res-portfolio .resume-item-1 .resume-img {
  text-align: center;
  margin-top: -160px;
  margin-bottom: -65px;
}
.res-portfolio .resume-item-3 {
  padding: 60px 25px 0px 45px;
  background-image: linear-gradient(175deg, #ff7847, #ffac8e);
  margin-bottom: 50px;
}
.res-portfolio .resume-item-3 h5 {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -0.63px;
  color: #ffffff;
}
.res-portfolio .resume-item-3 p {
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  max-width: 50%;
}
.res-portfolio .resume-item-3 img {
  margin-top: 40px;
  margin-bottom: -120px;
}
.res-portfolio .resume-item-4 {
  padding: 50px 45px;
  background-image: linear-gradient(330deg, #ffe596, #ffbf00);
  margin-bottom: 50px;
}
.res-portfolio .resume-item-4 h5 {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -0.63px;
  color: #ffffff;
}
.res-portfolio .resume-item-4 p {
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  max-width: 70%;
}
.res-portfolio .resume-item-4 .resume-img {
  text-align: center;
  margin-top: 40px;
  margin-bottom: -358px;
}

.mt_150 {
  margin-top: 50px;
}

/*
    =====================
       RESUME FEEDBACK AREA
    =====================
*/
.resume-feedback {
  padding: 120px 0px;
  padding-top: 0px;
}
.resume-feedback .pd_10 {
  margin-bottom: 50px;
}
.resume-feedback .advice_slider .advice_c {
  width: 545px;
  border-radius: 8px;
  box-shadow: 0 25px 40px -14px rgba(99, 99, 99, 0.1);
  background-color: #ffffff;
  margin-bottom: 100px;
  margin-left: 0px;
  border: 0px;
}
.resume-feedback .advice_slider .advice_c .card-body {
  padding: 40px 35px 40px 35px;
}
.resume-feedback .advice_slider .advice_c .card-body .img {
  margin-bottom: 15px;
}
.resume-feedback .advice_slider .advice_c p {
  font-family: "Poppins";
  font-size: 18px;
  line-height: 1.6;
  color: #000000;
  margin-bottom: 35px;
}
.resume-feedback .advice_slider .advice_c h5 {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.22px;
  color: #000000;
  margin-bottom: 6px;
}
.resume-feedback .advice_slider .advice_c h6 {
  opacity: 0.5;
  font-family: "Poppins";
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.22px;
  color: #000000;
}
.resume-feedback .advice_slider .card_icon {
  display: flex;
  margin-bottom: 20px;
}
.resume-feedback .advice_slider .card_icon .card-icon-details {
  margin-left: 15px;
}
.resume-feedback .advice_slider .card_icon .card-icon-details ul li {
  font-size: 20px;
  padding: 19px 0px;
  display: inline-block;
  color: #ffbb00;
}
.resume-feedback .advice_slider .owl-next {
  width: 55px;
  height: 55px;
  position: absolute;
  top: -25%;
  right: 30px;
  border: solid 2px transparent;
  display: grid;
  place-items: center;
  font-size: 18px;
  background: transparent;
  color: #000000;
  transition: all 0.4s;
}
.resume-feedback .advice_slider .owl-next:hover {
  background: rgba(0, 0, 0, 0);
  color: #08001f;
}
.resume-feedback .advice_slider .owl-prev {
  opacity: 0;
  width: 55px;
  height: 55px;
  position: absolute;
  top: -25%;
  right: 90px;
  border: solid 2px transparent;
  display: grid;
  place-items: center;
  font-size: 18px;
  background: transparent;
  color: #000000;
  transition: all 0.4s;
}
.resume-feedback .advice_slider .owl-prev:hover {
  background: rgba(0, 0, 0, 0);
  color: #08001f;
}
.resume-feedback .advice_slider .op_1 {
  opacity: 1 !important;
}
.resume-feedback .resume-card-social .main-social {
  display: flex;
  display: none;
}
.resume-feedback .resume-card-social .main-social .social-inner {
  margin-right: 40px;
}
.resume-feedback .resume-card-social .social-inner {
  display: flex;
}
.resume-feedback .resume-card-social .social-inner .social-img {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  color: #ffffff;
  display: grid;
  place-items: center;
  font-size: 30px;
  box-shadow: 0 10px 37px -5px rgba(234, 76, 137, 0.5);
  background-color: #ea4c89;
}
.resume-feedback .resume-card-social .social-inner .social-img.color-2 {
  box-shadow: 0 10px 37px -5px rgba(0, 103, 255, 0.5);
  background-color: #0067ff;
}
.resume-feedback .resume-card-social .social-inner .social-img.color-3 {
  box-shadow: 0 10px 37px -5px rgba(1, 119, 172, 0.5);
  background-color: #0177ac;
}
.resume-feedback .resume-card-social .social-inner .social-details h5 {
  font-family: "Poppins";
  font-size: 25px;
  letter-spacing: -0.63px;
  color: #000000;
  padding: 18px 0px;
  margin-left: 20px;
}

/*
    =====================
       CONTACT US AREA
    =====================
*/
.resume-contact {
  padding: 80px 0px;
  background-image: linear-gradient(307deg, rgba(246, 248, 252, 0.21), #f6f8fc);
}
.resume-contact .contact-details {
  padding: 100px 0px;
}
.resume-contact .contact-details h2 {
  font-size: 60px;
  letter-spacing: -1.5px;
  color: #000000;
}
.resume-contact .contact-details .contact-name {
  padding-top: 40px;
}
.resume-contact .contact-details .contact-name h5 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -0.63px;
  color: #000000;
  margin-bottom: 10px;
}
.resume-contact .contact-details .contact-name p {
  font-family: "Poppins";
  opacity: 0.4;
  font-size: 18px;
  line-height: 1.41;
  letter-spacing: 0.25px;
  color: #000000;
  margin-bottom: 0px;
}
.resume-contact .resume-form {
  padding: 65px 90px;
  box-shadow: 0 66px 58px 0 rgba(99, 99, 99, 0.1);
  background-color: #ffffff;
  text-align: center;
}
.resume-contact .resume-form .form-group {
  margin-bottom: 40px;
}
.resume-contact .resume-form .form-group .contact-name {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: bold;
  color: #232426;
  height: 52px;
  border: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 0px;
  padding: 0px;
}
.resume-contact .resume-form .form-group .contact-message {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: bold;
  color: #232426;
  border: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 0px;
  padding: 0px;
}
.resume-contact .resume-form .resume-btn {
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  display: inline-flex;
  cursor: pointer;
}

.resume-title h5 {
  font-size: 20px;
  line-height: 2.25;
  color: #ff4952;
  margin-bottom: 10px;
}
.resume-title h1 {
  font-size: 60px;
  letter-spacing: -1.5px;
  color: #000000;
  margin-bottom: 20px;
}

.btn-sss {
  color: #ffffff;
  position: relative;
  margin: 0 auto;
  font-family: "Poppins";
}
.btn-sss::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: #000000;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}
.btn-sss::before {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 #2e2e4e;
  top: 0;
  color: #000000;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

@keyframes noise-anim {
  0% {
    clip: rect(97px, 9999px, 62px, 0);
  }
  5% {
    clip: rect(87px, 9999px, 82px, 0);
  }
  10% {
    clip: rect(12px, 9999px, 94px, 0);
  }
  15% {
    clip: rect(13px, 9999px, 20px, 0);
  }
  20% {
    clip: rect(39px, 9999px, 98px, 0);
  }
  25% {
    clip: rect(94px, 9999px, 13px, 0);
  }
  30% {
    clip: rect(92px, 9999px, 65px, 0);
  }
  35% {
    clip: rect(15px, 9999px, 76px, 0);
  }
  40% {
    clip: rect(56px, 9999px, 35px, 0);
  }
  45% {
    clip: rect(27px, 9999px, 2px, 0);
  }
  50% {
    clip: rect(21px, 9999px, 42px, 0);
  }
  55% {
    clip: rect(46px, 9999px, 8px, 0);
  }
  60% {
    clip: rect(13px, 9999px, 69px, 0);
  }
  65% {
    clip: rect(79px, 9999px, 32px, 0);
  }
  70% {
    clip: rect(100px, 9999px, 39px, 0);
  }
  75% {
    clip: rect(66px, 9999px, 82px, 0);
  }
  80% {
    clip: rect(54px, 9999px, 63px, 0);
  }
  85% {
    clip: rect(21px, 9999px, 37px, 0);
  }
  90% {
    clip: rect(98px, 9999px, 22px, 0);
  }
  95% {
    clip: rect(98px, 9999px, 75px, 0);
  }
  100% {
    clip: rect(15px, 9999px, 84px, 0);
  }
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(20px, 9999px, 33px, 0);
  }
  5% {
    clip: rect(99px, 9999px, 53px, 0);
  }
  10% {
    clip: rect(57px, 9999px, 47px, 0);
  }
  15% {
    clip: rect(11px, 9999px, 25px, 0);
  }
  20% {
    clip: rect(68px, 9999px, 30px, 0);
  }
  25% {
    clip: rect(4px, 9999px, 89px, 0);
  }
  30% {
    clip: rect(60px, 9999px, 76px, 0);
  }
  35% {
    clip: rect(40px, 9999px, 65px, 0);
  }
  40% {
    clip: rect(83px, 9999px, 88px, 0);
  }
  45% {
    clip: rect(19px, 9999px, 77px, 0);
  }
  50% {
    clip: rect(74px, 9999px, 11px, 0);
  }
  55% {
    clip: rect(18px, 9999px, 20px, 0);
  }
  60% {
    clip: rect(10px, 9999px, 93px, 0);
  }
  65% {
    clip: rect(1px, 9999px, 94px, 0);
  }
  70% {
    clip: rect(64px, 9999px, 33px, 0);
  }
  75% {
    clip: rect(93px, 9999px, 98px, 0);
  }
  80% {
    clip: rect(68px, 9999px, 77px, 0);
  }
  85% {
    clip: rect(87px, 9999px, 14px, 0);
  }
  90% {
    clip: rect(99px, 9999px, 1px, 0);
  }
  95% {
    clip: rect(29px, 9999px, 56px, 0);
  }
  100% {
    clip: rect(90px, 9999px, 42px, 0);
  }
}
.btn-default a {
  text-decoration: none;
  color: inherit;
  font-family: "Poppins";
}
.btn-default a.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.btn-default a.cta:hover::before {
  width: 108%;
  background: #ff4952;
}
.btn-default a.cta:hover span {
  color: #ffffff;
}
.btn-default a.cta:hover svg {
  transform: translateX(0);
  stroke: #ffffff;
}
.btn-default a.cta::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  display: block;
  border-radius: 30px;
  background: rgba(255, 73, 82, 0);
  border: 1px solid rgba(255, 73, 82, 0.6);
  border-right: 1px solid transparent;
  width: 60px;
  height: 60px;
  transition: all 0.3s ease;
}
.btn-default a.cta span {
  position: relative;
  font-size: 18px;
  line-height: 0.56;
  font-weight: 900;
  vertical-align: middle;
  color: #000000;
}
.btn-default a.cta svg {
  position: relative;
  top: 4px;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #000000;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.btn-default a.cta:active {
  transform: scale(0.96);
}

/*
    ==============
       Slider area
    ==============
*/
.res-slider {
  margin-top: 80px;
}
.res-slider .slider-inner img {
  padding-right: 100px;
}

/*
    =================
       Portfolio area
    =================
*/
/*
    ==============
       Contact area
    ==============
*/
.Custom_contact .form-control {
  border: 0px;
  border-radius: 0px;
  font-size: 16px;
  color: #071634;
  height: 48px;
  border-bottom: 1px solid rgba(10, 31, 72, 0.15);
  margin-top: 30px;
}
.Custom_contact textarea {
  height: auto !important;
}
.Custom_contact p {
  opacity: 0.6;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: normal;
  color: #071634;
  margin-top: 40px;
}

.form-control:focus {
  outline: none !important;
  border-bottom: 1px solid rgba(10, 31, 72, 0.15);
  background-image: none !important;
  box-shadow: none !important;
}

.reveal {
  position: relative;
  width: 98%;
  opacity: 1 !important;
  transition: opacity 1s;
}
.reveal::before {
  content: "";
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: 0% 0% 0px;
  animation: reveal 1s 0s ease-in-out forwards;
  z-index: 99;
}
.reveal::after {
  content: "";
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: 0% 0% 0px;
  animation: reveal 1s 0.5s ease-in-out forwards;
  z-index: 99;
}

@keyframes reveal {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
    transform-origin: 0% 0% 0px;
  }
  51% {
    transform-origin: 100% 50% 0px;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 100% 50% 0px;
  }
}
/*
===========================
        ABOUT US PAGE
===========================
*/
.res-about {
  padding: 150px 0px;
  padding-bottom: 80px;
}
.res-about .res-about-img {
  position: relative;
}
.res-about .res-about-img-inner {
  position: absolute;
  width: 155px;
  height: 155px;
  background: #000000;
  bottom: 20px;
  left: -60px;
  display: grid;
  place-items: center;
}
.res-about .res-about-img-inner .inner-projects {
  position: relative;
}
.res-about .res-about-img-inner .inner-projects p {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 8px;
}
.res-about .res-about-img-inner .inner-projects h3 {
  color: #ffffff;
  font-size: 36px;
}
.res-about .res-about-inner {
  padding: 75px 0px;
  position: relative;
}
.res-about .res-about-inner h5 {
  font-size: 20px;
  line-height: 2.25;
  color: #000000;
  margin-bottom: 10px;
}
.res-about .res-about-inner h1 {
  font-size: 60px;
  letter-spacing: -1.5px;
  color: #000000;
  margin-bottom: 20px;
}
.res-about .res-about-inner p {
  opacity: 0.6;
  font-size: 16px;
  line-height: 1.88;
  color: #000000;
  margin-bottom: 50px;
  max-width: 95%;
}

.res-about-title {
  padding: 100px 0px;
}
.res-about-title .heading-title {
  color: #000000;
  font-size: 120px;
  white-space: nowrap;
  margin-bottom: 70px;
  margin-top: -50px;
  opacity: 0.5;
}
.res-about-title .ab-title-inner .ab-title-icon {
  position: relative;
}
.res-about-title .ab-title-inner .ab-title-icon .icon-inner {
  width: 85px;
  height: 85px;
  margin-bottom: 34px;
}
.res-about-title .ab-title-inner .ab-title-icon span {
  font-family: "Poppins";
  position: absolute;
  font-size: 110px;
  color: rgba(255, 255, 255, 0.07);
  top: 15px;
  left: 25%;
}
.res-about-title .ab-title-inner h4 {
  color: #000000;
  font-size: 25px;
  letter-spacing: -0.63px;
  margin-bottom: 14px;
}
.res-about-title .ab-title-inner p {
  opacity: 0.6;
  font-size: 18px;
  color: #000000;
  max-width: 75%;
  line-height: 1.7;
  letter-spacing: -0.25px;
}

.full_width {
  margin-bottom: 50px;
}
.full_width .resume-full-overlay {
  padding: 120px 0px;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
}
.full_width .resume-full-overlay .full-title-inner h1 {
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 40px;
}
.full_width .resume-full-overlay .full-title-inner .resume-btn .btn-default a.cta::before {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid transparent;
}
.full_width .resume-full-overlay .full-title-inner .resume-btn .btn-default a.cta span {
  color: #ffffff;
}
.full_width .resume-full-overlay .full-title-inner .resume-btn .btn-default a.cta svg {
  stroke: #ffffff;
}
.full_width .resume-full-overlay .full-title-inner .resume-btn .btn-default a.cta:hover::before {
  border: 1px solid rgba(255, 73, 82, 0.6);
}

/*# sourceMappingURL=styles.css.map */
