.btn-primary {
    background-image: linear-gradient(to bottom, #8241f9, #4e277b) !important;
    padding: 18px 32px !important;
    border: none !important;
}

.btn {
    padding: 18px 32px !important;
}

.text-primary {
    color: #8241f9 !important;
}

.marg-m {
    margin-bottom: 7rem!important;
}

.text-align-box-ser {
    text-align: left !important;
}

@media screen and (max-width:430px) {
    .marg-m {
        margin-bottom: 4rem!important;
    }
    .logo-marg-bo {
        margin-bottom: 4rem!important;
    }
}